*.o
*.a
.cache/
.vs/
.vscode/
.DS_Store

.build/
build/
build-em/
build-debug/
build-release/
build-static/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*

/main
/quantize
/result
/perplexity
/embedding

arm_neon.h
compile_commands.json

.envrc
.direnv/

.venv
__pycache__
.swiftpm

.github/
/bin
/CMakeFiles
/extras/CMakeFiles
/extras/cmake_install.cmake
/extras/CTestTestfile.cmake
/extras/Makefile
/tests/CMakeFiles
/tests/cmake_install.cmake
/tests/CTestTestfile.cmake
/tests/Makefile
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
librwkv.dylib
Makefile
rwkv-model-Q5_1.bin